@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins';
    outline: none;
}

section {
    height: 100vh;
}

body {
    background-color: #0d1b2a;
}

/* navbar */

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
}

header .container {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 30px;
    color: #3d535f;
    margin: 20px;
    padding: 15px 0;
}

header .logo span {
    color: #48bfe3;
}

nav ul{
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav li a {
    display: block;
    font-size: 1.2em;
    color: #8da9c4;
    text-transform: capitalize;
}

nav li a:hover{
    color: #48bfe3;
    border-bottom: 2px solid #48bfe3;
}

#active {
    color: #48bfe3;
    border-bottom: 2px solid #48bfe3;
}

/* home */

#home {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: left;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    background-color: #EDF2F4;
}

.cols {
    margin: 0;
    max-width: 1250px;
}

.linha-de-cima {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #0d1b2a;
}

.linha-de-cima::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #48bfe3;
}

h1 {
    display: block;
    font-size: 4em;
    font-weight: 900;
    color: #0d1b2a;
}

.texto {
    color: #48bfe3;
    text-transform: capitalize;
    font-size: 1.2em;
}

p {
    display: block;
    width: 90%;
    max-width: 600px;
    font-size: 1.2em;
    color: #3d535f;
}

.trabalhar-juntos {
    width: 350px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400px;
    color: #fff;
    background-color: #48bfe3;
    padding: 8px 8px;
    margin: 30px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.social {
    padding: 0 8px;
}

.social a {
    font-size: 30px;
}

button:hover {
    background-color: #0d1b2a;
}

/* habilidades */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#habilidades {
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#habilidades .titulo-box {
    display: inline-block;
    margin: 0;
}

.slider {
    max-width: 1250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide-track {
    background-color: #EDF2F4;
    border: 3px solid #48bfe3;
    border-radius: 10px;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 1100px;
}

.slide-track:hover .slides {
    animation-play-state: paused;
}

.slides {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.slides img {
    height: 150px;
    margin: 0 60px;
}


.titulo-box{
    width: fit-content;
    font-size: 30px;
    color: #48bfe3;
    margin-left: 100px;
    border-bottom: 2px solid #48bfe3;
}

/* projetos */

#projetos {
    text-align: center;
    width: 100%;
}

.box-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 30px;
}

 .box {
    padding: 130px 140px 130px 140px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #000;
    width: 33.33%;
    background-color: #EDF2F4;
    transition: .3s ease box-shadow;
}

.box:hover {
    box-shadow: 0px 3px 25px #48bfe3;
}

.box .icon {
    font-size: 30px;
}

.box-projetos-read-more {
    display: none;
}

.box-projetos-read-more--show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 30px;
}

.read-more-btn {
    color: #8d99ae;
    cursor: pointer;
    border: 2px solid #48bfe3;
    padding: 5px 10px;
    transition: .3s ease;
}

.read-more-btn:hover {
    background-color: #48bfe3;
    box-shadow: 0px 3px 25px #8d99ae;
    color: #0d1b2a;
}

/* sobre */

#sobre {
    text-align: center;
    width: 100%;
}

#sobre .titulo-box {
    display: inline-block;
    margin: 0;
}

.about-box {
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box img{
    position: relative;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0px 3px 25px #48bfe3;
}

.about-box span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box span h3 {
    color: #48bfe3;
}

.about-box span p {
    color: #EDF2F4;
}

/* contato */

#contato {
    text-align: center;
    width: 100%;
}

#contato .titulo-box {
    display: inline-block;
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1250px;
}

.form-box {
    margin: 20px;
    padding: 10px 30px;
    border: solid 3px #48bfe3;
    box-shadow: 0px 3px 15px #000;
    border-radius: 15px;
    color: #48bfe3;
    max-width: 500px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    text-align: start;
}


.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 24px;
    color: #48bfe3;
    cursor: pointer;
    transition: .3s ease ;
}

button[type="submit"]:hover {
    color: #0d1b2a;
    background-color: #48bfe3;
    box-shadow: 0px 3px 15px #8d99ae;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.sucesso {
    background-color: #38b000;
    color: #EDF2F4;
    animation: status 3s ease forwards;
}

#status.erro {
    background-color: #d00000;
    color: #EDF2F4;
    animation: status 3s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}