@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins';
    outline: none;
}

body {
    background-color: #0d1b2a;
}

/* navbar */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    transition: all .45s ease;
}

.logo {
    color: #48bfe3;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span{
    color: #3d535f;
}

.navlist {
    display: flex;
}

.navlist a {
    color: #8d99ae;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: #48bfe3;
    border-bottom: 2px solid #48bfe3;
}

#active {
    color: #48bfe3;
    border-bottom: 2px solid #48bfe3;
}

#menu-icon {
    color: #48bfe3;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    margin: left 25px;
    display: none;
}

section {
    padding: 160px 10% 120px;
}

/* home */

#home {
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: #EDF2F4;
    display: flex;
    align-items: center;
    justify-content: left;
}

.conteudo p {
    width: 65%;
}

.linha-de-cima {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #0d1b2a;
    margin-bottom: 20px;
}

.linha-de-cima::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #48bfe3;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    color: #0d1b2a;
    line-height: 1.1;
    margin-bottom: 20px;
}

h1 span {
    width: 65%
}


.texto {
    color: #48bfe3;
    text-transform: capitalize;
    font-size: 1.2em;
    line-height: 1.1;
}

p {
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}

a .trabalhar-juntos {
    width: 350px;
    left: 0px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 8px 0;
    margin: 30px 5px;
    letter-spacing: 2px;
    background-color: #48bfe3;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    transition: all .45s ease;
}

.social {
    padding: 0 8px;
}

.social a {
    font-size: 30px;
}

.trabalhar-juntos:hover {
    transform: scale(1.1);
    background-color: #0d1b2a;
}

/* habilidades */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#habilidades {
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#habilidades .titulo-box {
    display: inline-block;
    margin: 0;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide-track {
    background-color: #EDF2F4;
    border: 3px solid #48bfe3;
    border-radius: 10px;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 1100px;
}

.slide-track:hover .slides {
    animation-play-state: paused;
}

.slides {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.slides img {
    height: 150px;
    margin: 0 60px;
}

/* projetos */
#projetos {
    text-align: center;
}

.conteudo-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: center;
    gap: 15px;
    grid-auto-rows: 1fr;
}

.conteudo-projetos-ver-mais {
    display: none;
}

.conteudo-projetos-ver-mais--show {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: center;
    gap: 15px;
    grid-auto-rows: 1fr;
}

#projetos i {
    font-size: 38px;
}

.box a button {
    padding: 10px;
    color: #8d99ae;
    border-radius: 2px;
    border: none;
    background-color: #48bfe3;
    color: #000;
}

.box a button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#projetos .box {
    background-color: #EDF2F4;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 3px 25px #000;
}

#projetos img {
    width: 100%;
    display: block;
    visibility: hidden;
}

#projetos .img1 {
    visibility: visible;
}

#projetos h2 {
    font-size: 50px;
    color: #48bfe3;
    text-align: center;
    margin-bottom: 50px;
}

#projetos h3 {
    font-size: 25px;
}

#projetos h2 span {
    color: #3d535f;
}

.read-more-btn {
    display: inline-block;
    margin-top: 30px;
    color: #8d99ae;
    cursor: pointer;
    border: 2px solid #48bfe3;
    padding: 5px 10px;
    transition: .3s ease;
    z-index: 999;
}

.read-more-btn:hover {
    background-color: #48bfe3;
    box-shadow: 0px 3px 25px #8d99ae;
    color: #0d1b2a; 
}

/* sobre */

#sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.sobre-img img{
    max-width: 530px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 25px #48bfe3;
}

.sobre-img img:hover {
    transform: scale(0.95);
}

.about-box h2 {
    font-size: 50px;
    color: #48bfe3;
    margin-bottom: 50px;
}

.about-box h2 span {
    color: #3d535f;
}

.about-box h3 {
    color: #48bfe3;
}

.about-box p {
    color: #EDF2F4;
    line-height: 1.8;
    font-size: 18px;
}

/* contato */


#contato {
    text-align: center;
    width: 100%;
}

#contato .titulo-box {
    display: inline-block;
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-box {
    margin: 20px;
    padding: 10px 30px;
    border: solid 3px #48bfe3;
    box-shadow: 0px 3px 15px #000;
    border-radius: 15px;
    color: #48bfe3;
    max-width: 500px;
}

.form-group {
    font-size: 20px;
    text-align: start;
}


.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 24px;
    color: #48bfe3;
    cursor: pointer;
    transition: .3s ease ;
}

button[type="submit"]:hover {
    color: #0d1b2a;
    background-color: #48bfe3;
    box-shadow: 0px 3px 15px #8d99ae;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.sucesso {
    background-color: #38b000;
    color: #EDF2F4;
    animation: status 3s ease forwards;
}

#status.erro {
    background-color: #d00000;
    color: #EDF2F4;
    animation: status 3s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}